body {
  background: gray;
}

.chess-board {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 1px;
}

.chess-board__box {
  width: 100px;
  height: 100px;
}
.chess-board__box--black {
  background-color: black;
}

.chess-board__box--white {
  background-color: white;
}

.chess-board__box--red {
  background-color: red;
}
